{% extends 'bootstrap/base.html' %}

{% block title %}
Submit Form
{% endblock %}

{% block navbar %}
    {% include '_navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="alert alert-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block sub_content %}
        {% endblock %}
    </div>
{% endblock %}
