{% extends 'base.html' %}

{% block sub_content %}

  <h2>Employee Data Center</h2>
  <p>This data is restricted. Your session is collected by system automatically.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
       {% for employee in employees %}
          <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.age }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}